* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
  }

body {
    margin: 0;
}

/* position-fixed navigation excluded itself out of the main display flow */

h1 {
    font-family: Arthura-Regular;
    font-size: 9vw;
    font-weight: normal;
    text-align: left;
    padding-left: 10vw;
}

h3 {
    font-family: Diskus RomanItalic;
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-family: Arthura-Regular;;
    font-size: 2rem;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

p {
    font-family: Arthura-Regular;
    margin: 0;
    padding-top: 10px;
    font-size: 1.25rem;
    line-height: 1.4;
}

small {
    font-family: Arthura-Regular;
    font-size: 0.75rem;
}

#notice {
    display: block;
    height: 300px;
    width: 480px;
    background-color: rgb(243, 243, 242);
    color: rgb(31, 27, 29);
    text-align: center;
    padding: 28px 30px 28px 30px;
    border-radius: 30px;
    border: 3px solid rgb(110, 134, 235);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

#notice a {
    color: rgb(110, 134, 235);
    text-decoration: underline;
    font-family: Diskus RomanItalic;
    line-height: 1.3;
}

.archive-map {
    overflow: scroll;
    height: 400px;
    margin: 20px 12px;
    border-radius: 20px;
}

.map-wrapper {
    position: relative;
    width: 1449px;
    height: 1000px;
}

.map-marker {
    position: absolute;
}

#side-home {
    display: none;
    position: fixed;
    top: 0;
    right:-360px;
    height: 100vh;
    z-index: 10;
    /*transform: translate3d(0,0,0);*/
    transition: 300ms transform ease-in-out;
}

.toggle#side-home {
    transform: translate3d(-360px,0,0);
}

.side-home-bar {
    position: absolute;
    top: 0;
    right:0;
    height: 100vh;
    width: 360px;
    background-color: rgb(154, 231, 195);
    padding: 20px 14px;
}

#side-home-bookmark {
    position: absolute;
    bottom: 20px;
    right: 360px;
    height: 116px;
    width: 100px;
    background-color: rgb(255, 66, 23);
    color: rgb(245, 237, 199);
    border-radius: 10px 0 0 10px;
    padding: 14px;
    word-wrap: break-word;
}

.container {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}

.col-xs-12 {
    grid-column: span 12
}
  
.col-xs-11 {
    grid-column: span 11;
}
  
.col-xs-10 {
    grid-column: span 10
}
  
.col-xs-9 {
    grid-column: span 9
  }
  
.col-xs-8 {
    grid-column: span 8
}
  
.col-xs-7 {
    grid-column: span 7
}
  
.col-xs-6 {
    grid-column: span 6
}
  
.col-xs-5 {
  grid-column: span 5
}
  
.col-xs-4 {
    grid-column: span 4
}
  
.col-xs-3 {
    grid-column: span 3
}
  
.col-xs-2 {
    grid-column: span 2
}
  
.col-xs-1 {
    grid-column: span 1
}

#logo-button {
    text-align: left;
    margin-left: 10px;
}

.archive-nav {
    display: block;
    text-align:right;
    margin-top: 4px;
    margin-right: 10px;
}

.archive-title {
    position: relative;
    margin: 0 auto;
}

.filter-guide {
    text-align: center;
}

li {
    display: inline;
    text-align: center;
    padding-left: 20px;
}

a{
    color:black;
    text-decoration: none;
}

form {
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    font-size: 0.75rem;
}

form section{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
   /* background-color: aquamarine;*/
    vertical-align: bottom;
}

label {
    padding-right: 10px;
}

@media only screen and (max-width: 768px ) {
    form{
        display: block;
    }
    form section{
        display: block;
        padding-bottom: 20px;
        text-align: center;
    }
}

input[type=text] {
    margin: 8px 0;
    border: 0;
    box-shadow:0 0 8px 4px rgba(0,0,0,0.15)
    /*8border-bottom: 1px solid;*/
}

select {
    margin: 8px 0;
    border: 0;
    box-shadow:0 0 8px 4px rgba(0,0,0,0.15)
}

#archive-card-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 0;
    overflow: hidden;
}

.archive-card {
    border-bottom: 1.5px solid black;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    height: 100vh;
}

/*@media screen and (max-width: 768px) {
    .archive-card {width: 48%;}
}

@media screen and (max-width: 414px) {
    .archive-card {width: 96%;}
}*/


.archive-card-text{
    word-wrap: break-word;
}

input[type=submit] {

    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    /* usual styles */
    padding:10px;
    border:none;
    box-shadow:0 0 8px 4px rgba(0,0,0,0.15);
    background-color: white;
    border-radius: 100%; 
  }

  input[type=text]:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgb(13, 224, 161);
  }
